$primary-color: #F8D32A;
$primary-darker: #d1ac04;
$secondary-color: #343a40;
$light-gray: #ecf0f1;
$dark-gray: #7f8c8d;
$background-color: #f9f9f9;
$border-radius: 8px;
$primary-grey: #e6e6e6;
$font-color: white;
$primary-background: #f8f9fa;
$boxShadow: 0 4px 6px rgba(100, 100, 200, 0.5);
$transition-duration: 0.3s;
